# Logs
*.log
npm-debug.log
npm-shrinkwrap.json

# Runtime data
pids
*.pid
*.seed

# deps
node_modules

# Project stuff
**.serverless
**.hidden

# IDE stuff
**/.idea

# OS stuff
.DS_Store
.tmp

# ESLint cache
.eslintcache

# VIM
*.swp